body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("table.png");
    background-size: cover;
    color: white;
    font-size: larger;
    font-weight: bold;

}

h1 {
    color: goldenrod;
    margin-top: 30px;
}

#message-el {
    font-style: italic;
}

button{
    color: #016f32;
    background: goldenrod;
    width: 200px;
    padding: 5 20;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 2px;
}